.dashboard-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 4rem; 
}

.dashboard-sidebar {
  width: 100%;
  max-width: 14rem;
  position: fixed;
  top: 4rem;
  height: calc(100vh - 4rem); 
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-content {
  margin-left: 14rem;
  padding: 1rem;
  width: calc(100% - 14rem);
  margin-top: 1rem; 
}

.ql-editor p {
  color: #333;
}

@media (max-width: 768px) {
  .dashboard-sidebar {
    position: static;
    height: auto;
    width: 100%;
    box-shadow: none;
  }

  .dashboard-content {
    margin-left: 0;
    width: 100%;
    margin-top: 0;
  }
}
